# Auth
AUTH_SECRET=ganti-rahasia-panjang
ADMIN_PIN=jetis2026

# Google Sheets
SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=

# Public
NUXT_PUBLIC_SITE_URL=https://jetis-sumur-web.vercel.app
