next
node_modules
.env
.env.local
.env*.local
.DS_Store
*.pem
.vercel
service-account*.json
google-credentials*.json
*.tsbuildinfo
.next

.secrets/
*.json
!package.json
!package-lock.json
!tsconfig.json
!vercel.json
!docs/**/*.json
!content/**/*.json
*-sa.json
